$text-color: #fff;
$primary: #ed5565;

body {
  padding-top: 4em;
  padding-bottom: 4em;

  color: $text-color;
  background-color: $primary;
}

.loaders {
  text-align: center;
  color: $text-color;

  .loader-wrapper {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    height: 160px;
    align-items: center;
    justify-content: center;
  }
}
