<main class="loaded">
  <header>
    <div class="left">
      <h1>Ember Loaders</h1>
      <h2><em>Based on <a href="https://github.com/ConnorAtherton/loaders.css" title="Page of Loaders.css">Loaders.css</a></em> Delightful and performance-focused pure css loading animations.</h2>
    </div>
    <div class="right">
      <a
        href="https://github.com/kaermorchen/ember-cli-loaders"
        title="Ember Loaders"
        class="btn right">
        View on Github
      </a>
    </div>
  </header>
  <div class="loaders">
    {{#each @model as |name|}}
      <div class="loader">
        {{component name}}
        {{concat "{{" name "}}"}}
      </div>
    {{/each}}
  </div>
</main>
