<div class="container">
  <div class="row">
    <div class="col">
      <h1>Ember Loaders</h1>
      <h2 class="h4 "><em>Powered by <a href="https://connoratherton.com/loaders" title="Loaders.css">Loaders.css</a></em></h2>
      <p>Delightful and performance-focused pure css loading animations.</p>
    </div>
    <div class="col-auto">
      <a href="https://github.com/kaermorchen/ember-cli-loaders" ttile="Ember Loaders" class="btn btn-outline-primary btn-lg">View on Github</a>
    </div>
  </div>

  <div class="row loaders">
    {{#each componentNames as |name|}}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="loader-wrapper">
          {{component name}}
        </div>
        \{{<!---->{{name}}<!---->}}
      </div>
    {{/each}}
  </div>
</div>
